< <!--header-->
<%- include('header')%>
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">User</a></li>
                    <li class="breadcrumb-item active">Resset</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        
        <!-- Login Start  -->
        <div class="login">
            <div class="container clearfix">
                <div class="form pass-reset">
                    <a class="logo" href="">
                        <img src="img/logo.png" alt="Logo" />
                    </a>
                    <form>
                        <p>
                            <label>Username or email address<span>*</span></label>
                            <input type="email" required>
                        </p>
                        <p>
                            <label>
                                <a href="/login">Got my password</a>
                            </label>
                            <input type="submit" value="Reset" />
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <!-- Login End -->
        
        
        <!-- Footer Start -->
        <%- include('footer')%>